<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>com.cloudbees.jenkins.support.impl.cloudbees.TcpSlaveAgentListenerMonitor</string>
  </disabledAdministrativeMonitors>
  <version>2.138.3.1</version>
  <installStateName>RUNNING</installStateName>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.FullControlOnceLoggedInAuthorizationStrategy">
    <denyAnonymousReadAccess>true</denyAnonymousReadAccess>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>true</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULL_NAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <com.cloudbees.jce.masterprovisioning.view.MastersView plugin="master-provisioning-core@2.2.4">
      <owner class="hudson" reference="../../.."/>
      <name>Masters</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters>
        <hudson.views.JobTypeFilter plugin="view-job-filters@1.27">
          <includeExcludeTypeString>includeMatched</includeExcludeTypeString>
          <jobType>com.cloudbees.opscenter.server.model.ClientMaster</jobType>
        </hudson.views.JobTypeFilter>
        <hudson.views.JobTypeFilter plugin="view-job-filters@1.27">
          <includeExcludeTypeString>includeMatched</includeExcludeTypeString>
          <jobType>com.cloudbees.opscenter.server.model.ManagedMaster</jobType>
        </hudson.views.JobTypeFilter>
      </jobFilters>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <com.cloudbees.jce.masterprovisioning.view.column.ManageMasterListViewColumn/>
        <com.cloudbees.opscenter.server.clusterops.adhoc.ListSelectionColumn plugin="operations-center-clusterops@2.138.0.3"/>
        <com.cloudbees.jce.masterprovisioning.view.column.TotalJobsViewColumn/>
        <com.cloudbees.jce.masterprovisioning.view.column.QueueSizeViewColumn/>
        <com.cloudbees.jce.masterprovisioning.view.column.JenkinsVersionViewColumn/>
        <com.cloudbees.jce.masterprovisioning.mesos.MasterConfigurationStaleViewColumn/>
      </columns>
      <recurse>true</recurse>
    </com.cloudbees.jce.masterprovisioning.view.MastersView>
    <com.cloudbees.jce.masterprovisioning.view.MastersView plugin="master-provisioning-core@2.2.4">
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../com.cloudbees.jce.masterprovisioning.view.MastersView/jobNames/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <com.cloudbees.jce.masterprovisioning.view.column.ManageMasterListViewColumn/>
        <com.cloudbees.opscenter.server.clusterops.adhoc.ListSelectionColumn plugin="operations-center-clusterops@2.138.0.3"/>
      </columns>
      <includeRegex>.*</includeRegex>
      <recurse>false</recurse>
    </com.cloudbees.jce.masterprovisioning.view.MastersView>
  </views>
  <primaryView>Masters</primaryView>
  <slaveAgentPort>50000</slaveAgentPort>
  <label></label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>false</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>